<div class="mt-3 ">
  <div class="row d-flex align-items-center">
    <div class="col-md-6" *ngFor="let card of clockCards.slice(0, 1)">
      <h3 >
        <strong>{{ card.weatherData?.location.name }},
      {{ card.weatherData?.location.country }}
        </strong>
      </h3>

      <!-- Current Time -->
      <h1 class="display-1">{{ card.currentTime }}</h1>

      <p>
        Temperature is
        <strong>{{ card.weatherData?.current?.temp_c }} °C </strong>
        and the Weather is
        <strong
          >{{ card.weatherData?.current?.condition.text }}

          <img
            *ngIf="card.weatherData?.current?.condition.icon"
            [src]="card.weatherData.current.condition.icon"
            alt="Weather Icon"
            class="weather-icon-img"
            width="30"
            height="30"
          />
        </strong>
        — Whatever the weather brings, remember: it's a great day for coding...
        or a quick nap. Who says you can't do both?
      </p>
      <button
        class="btn btn-primary"
        (click)="openEditModal(modalContent, card)"
      >
        Change Location
      </button>
    </div>

    <div class="col-md-6 d-md-block d-none" >
      <div class="row" >
        <div
          class="col-lg-6 col-md-12 d-flex"
          *ngFor="let card of clockCards.slice(1, 5); let i = index"
        >
          <div class="card mb-3 card-hover w-100">
            <div class="card-body">
              <div class="button-container d-flex justify-content-between">
                <button class="btn" (click)="openEditModal(modalContent, card)">
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button class="btn" (click)="deleteCard(i + 1)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
              <strong><p class="card-title">{{ card.location }}</p></strong>
              <h4 class="card-text">{{ card.currentTime }}</h4>
              <span class="card-text">
                Weather is {{ card.weatherData?.current?.condition.text }}
                <img
                  *ngIf="card.weatherData?.current?.condition.icon"
                  [src]="card.weatherData.current.condition.icon"
                  alt="Weather Icon"
                  class="weather-icon-img"
                  width="20"
                  height="20"
                />
                and the Temperature is
                {{ card.weatherData?.current?.temp_c }} °C
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Card Button -->
      <button class="btn btn-primary" (click)="addCard(modalContent)">
        Add Location
      </button>
    </div>
  </div>

  <!-- Table for additional cards -->
  <div class="d-md-block d-none mt-5" *ngIf="clockCards.length > 5">
    <h4 class="text-center mt-2">Additional Location Data</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Current Time</th>
          <th>Weather</th>
          <th>Temperature (°C)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of clockCards.slice(5); let i = index">
          <td>{{ card.location }}</td>
          <td>{{ card.currentTime }}</td>
          <td>
            {{ card.weatherData?.current?.condition.text }} <br />
            <img
              *ngIf="card.weatherData?.current?.condition.icon"
              [src]="card.weatherData.current.condition.icon"
              alt="Weather Icon"
              class="weather-icon-img"
              width="30"
              height="30"
            />
          </td>
          <td>{{ card.weatherData?.current?.temp_c }}</td>
          <td>
            <button class="btn" (click)="openEditModal(modalContent, card)">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button class="btn" (click)="deleteCard(i + 4)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #modalContent let-modal>
    <div class="modal-header border-0 d-flex justify-content-between">
      <h4 class="modal-title">Edit Location</h4>
      <button
        type="button"
        class="btn close ml-auto"
        aria-label="Close"
        (click)="modal.dismiss('Close click')"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="location">Select a Location:</label>
        <select
          id="location"
          class="form-control"
          [(ngModel)]="selectedCard.location"
        >
          <option value="" disabled selected>Select your location</option>
          <option *ngFor="let loc of locations" [value]="loc.name">
            {{ loc.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="modal-footer border-0">
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('save')"
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="modal.dismiss('cancel')"
      >
        Cancel
      </button>
    </div>
  </ng-template>
</div>
